.root {
    -fx-background-color: linear-gradient(#CAE3FF, #E3BFFF);
}
#gameAnchorPane {
    -fx-background-color: linear-gradient(#CAE3FF, #E3BFFF);
}
#paneWhite, #pane {
	-fx-background-color: white;
	-fx-background-radius: 11;
}
.label{
	-fx-font-family: "Arial Black";
	-fx-text-fill: #891d8c;
	-fx-font-weight: bold;
}
.button {
    -fx-text-fill: white;
    -fx-font-family: "NanumBarunpen Bold";
    -fx-font-weight: bold;
    -fx-background-color: #085DFF;
    -fx-effect: dropshadow( three-pass-box , #5872C8 , 3, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: #0044c1;
}
#gamestartBtn, #gameStartBtn{
	-fx-background-color: linear-gradient(to bottom right, #003CFF, #0092FF, #00D8FF);
	-fx-background-radius: 30;
	-fx-background-insets: 0;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-border-color: white;
	-fx-border-radius : 30;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-insets: 1 1 1 1, 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,102,255,0.5), 15, 0.0 , 0 , 10);
}
#gamestartBtn:hover, #gameStartBtn:hover {
	-fx-background-color: #DED2E3;
}
#ticTacToeStartBtn, #oneToFiftyStartBtn, #exitBtn{
	-fx-background-color: transparent;
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
}
#ticTacToeStartBtn:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
#homeBtn{
	-fx-effect: dropshadow( gaussian , #891d8c , 0,0,0,2 );
	-fx-background-color: transparent;
}
#notBtn {
	-fx-background-color: #0D3ACB;
	-fx-background-radius: 11;
	-fx-border-color: #0D3ACB;
	-fx-border-radius : 10;
	-fx-border-width: 3;
}
#gameBtn1, #gameBtn2, #gameBtn3, #gameBtn4, #gameBtn5, #gameBtn6, #gameBtn7, #gameBtn8, #gameBtn9 {
    -fx-font-size:55;
}